# Ignorar datasets y carpetas data
**/data/
**/EMNIST_data/
**/plants_dataset/
**/flower_data/

# Ignorar entornos virtuales
.venv/
env/
__pycache__/
*.pyc
cifar_100/
datasets/
dataset/
AIvsReal_sampled/
cifar10_3class_imbalanced/
apple_ad_subset/
cifar10/

