# Ignorar datasets y carpetas data
**/data/
**/EMNIST_data/
**/plants_dataset/
**/flower_data/
**/images/
# Ignorar entornos virtuales
.venv/
env/
__pycache__/
*.pyc
cifar_100/
datasets/
dataset/
AIvsReal_sampled/
cifar10_3class_imbalanced/
apple_ad_subset/
cifar10/
mobilenet_weights/
oxford3pet_data/
Files.zip
images/
pytorch_datasets/
tiny_fruit_and_vegetable/
best_model_saved/
bert_model/
glove_data/
databricks-dolly-15k-dataset/
distilbert-local-base/
recipes_fruit_veg.csv
bert_tokenizer_local/
resnet18_chest_xray_classifier_weights.pth
chest_xray/
unseen/